
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
nav{
  margin-bottom: 20px;
}
section{
	margin-bottom: 30px;	
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}
.nav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.right {
  font-size: 18px;
  padding: 0 6px;
}
.logo {
  display: inline-block;
  font-weight: 800;
  
}
.logo p {
  font-size: 18px;
  font-weight: normal;
  cursor: pointer; 
  margin: 0;
  padding-top: 10px;
  margin-left: 5px;
}
.search .search-label {
  display: block;
  margin-bottom: 8px;
}
.search .ipt, 
.search .search-button {
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}
.search input {
  font-size: 16px; 
  font-weight: 500;
  width: 400px;
  height: 30px;
  padding: 0 5px 0 8px;
  
}
.search .search-button {
  width: 37px;
  height: 30px;
  padding: 2px 6px 3px 6px;
  background-color: white;
  vertical-align: bottom;
}

.table{
	border-collapse: collapse;
    border: 1px solid #cbcbcb;
    opacity: .7;
}
.lt{
	border-right: 1px solid silver;
}
.rt{
	border-left: 1px solid silver;
}

.table td{
	padding:15px;
	text-align: center;
}
div p{
	text-align: left;
	display: inline-block;
	margin-top: 25px;
	font-size: 16px;
}
.container1{
	margin-top: 30px;
}
a{
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}