*{
	margin: 0;
	font-family: arial;
}
nav{
	padding: 15px;
	width: 100%;
	position: fixed;
	background-color: #eeeeee;
}
p{
	display: inline-block;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
}
.right{
	float: right;
	padding-right: 25px;
}
main{
	position: absolute;
	padding-top: 90px;
	padding-left: 90px; 
}
input{
	width: 400px;
	height: 30px;
	margin-bottom: 13px;
	border: 1px solid #cbcbcb;
	border-radius: 3px;
}
.search .ipt, .search .image{
	display: inline-block;
}
.image{
	width: 30px;
}
.table{
	border-collapse: collapse;
    border: 1px solid #cbcbcb;
    opacity: .7;
}
.lt{
	border-right: 1px solid silver;
}
.rt{
	border-left: 1px solid silver;
}

.table td{
	padding:15px;
	text-align: center;
}

div p{
	text-align: left;
	display: inline-block;
	margin-top: 25px;
	font-size: 16px;
}
.container1{
	margin-top: 30px;
}
a{
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}