*{
	box-sizing: border-box;
	font-family: helvetica;
}
body{
	background-color: #298eea;
	position: relative;
}
.logo{
	 vertical-align: middle;
}
form{
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	width: 400px;

}

fieldset{
	border:transparent;
	padding: 0 40px 40px 40px;
}
legend, p{
	text-align: center;
}

legend{
	font-size: 30px;
	padding: 40px;
}
input, label{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
label{
	margin-bottom: 10px;
	margin-top: 20px;
}
input{
	width: 320px;
	height: 55px;
	font-size: 20px;
	padding: 15px;
	border: 2px solid #e7e7e7;
	border-radius: 3px;
}

.button{
	background-color: #56bb5d; 
	border: 2px solid #56bb5d;
}
img{
	height: 35px;
	margin: 40px;
}
section p, a{
	color: #fff;
}
form a{
	color: #959595;
	padding-bottom: 40px;
	padding-top: 20px;
}
.fpwd{
	text-align: center;
	padding-bottom: 15px;
}